<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<!--	head内共通部品-->
<head th:fragment="commonHead">	
		<meta charset="UTF-8">
		<link rel="stylesheet" 
			th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>	
		<link th:href="@{/css/global.css}" rel="stylesheet">
		<script src="/script.js"></script>
</head>

<body>
	
<!--	ヘッダー-->
	<div th:fragment="commonHeader">
		<header class="bg-dark text-white p-3 mb-2">
			<div class="row justify-content-between">
				<div class="col-auto">
					<a th:href="@{/admin/index}" class="text-decoration-none text-white">交通費申請書</a>
				</div>
				<div class="col-auto">
					<a th:href="@{/admin/new}" class="text-decoration-none text-white">社員登録</a>
					<span class="bg-white text-white">
						<form th:action="@{/logout}" method="post">
						    <button type="submit" class="bg-dark text-white">ログアウト</button>
						</form>
					</span>
				</div>
			</div>
		</header>
	</div>

</body>
</html>