	
<!--	frame-->
<div th:fragment="frame(type, content)">
<!--	以下が呼び出し元に渡される-->

<!--	standard-->
	<div th:if="${type} == 'standard'" class="container">
		<div class="row justify-content-center">
			<div class="col">
				<div th:insert="${content}"></div>
			</div>
		</div>
	</div>
	
<!--	narrow-->	
	<div th:if="${type} == 'narrow'" class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-7">
				<div th:insert="${content}"></div>
			</div>
		</div>
	</div>
	
</div>
