<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/fragment :: commonHead">
	</head>
	
	<body>
		<div th:replace="common/fragment :: commonHeader"></div>
		
		
<!--		common/framework.htmlのframeフラグメントを呼び出し、frameフラグメント内のcontent変数にid=contentを代入-->
		<div th:replace="common/framework :: frame('narrow', ~{::#content})">
			<th:block id="content">
				
				<form th:object="${userForm}" th:action="@{/new}" th:method="post">
					<div class="form-group fg">
						<label for="name">名前</label>
						<input type="text" th:field="*{name}" placeholder="名前" class="form-control mt-1">
					</div>
					<div class="form-group fg">
						<label for="mail">メール</label>
						<input type="text" th:field="*{mail}" placeholder="メール" class="form-control mt-1">
					</div>
					<div class="form-group fg">
						<label for="password">パスワード</label>
						<input type="password" th:field="*{password}" placeholder="パスワード" class="form-control mt-1">
					</div>
						<input type="submit" value="登録" class="btn btn-primary">
							
				</form>
				
			</th:block>			
		</div>
		
	</body>
	
</html>