<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/fragment :: commonHead"></head>
	
	<body>
		<div th:replace="common/fragment :: commonHeader"></div>
		
		<div th:replace="common/framework :: frame('narrow', ~{::#content})">
			<th:block id="content">
				
				
		    	<p class="col d-flex justify-content-center my-5">ログイン</p>
<!--		    	ログイン失敗時-->
			    <p th:if="${param.error}" class="text-danger d-flex justify-content-center">登録された内容が一致しません</p>
			    
			    <form th:action="@{/login}" method="post">
			        <div class="form-group">
			            <label for="username">メールアドレス</label>
			            <input type="text" name="mail" class="form-control mt-2" placeholder="メールアドレス" autofocus />
			        </div>
			        <div class="form-group mt-3">
			            <label for="password">パスワード:</label>
			            <input type="password" name="password" class="form-control mt-2" placeholder="パスワード"/>
			        </div>
			        <button type="submit" class="btn btn-primary mt-3">ログイン</button>
			    </form>
			</th:block>
		</div>
	</body>
</html>
